@page {
    size: 8.5in 11in;
    margin: 0mm;
    padding: 0 .5em;
}

@font-face {
    font-family: "Bodoni 72";
    src: url("../fonts/Bodoni\ 72.ttc");
}

@font-face {
    font-family: "Bodoni 72 Oldstyle";
    src: url("../fonts/Bodoni\ 72\ OS.ttc");
}

@font-face {
    font-family: "Apple Chancery";
    src: url("../fonts/Apple\ Chancery.ttf");
}

@font-face {
    font-family: "Century Regular";
    src: url("../fonts/Century\ Regular.ttf");
}

.side_banner {
  width: 32%;
  height: 100%;
  background-color: #efeae7;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: -100
  
}

body {
    margin: 1px;
    font-size: 0.85em;
    font-family: "Century Regular";
}

.header-wrapper {
    display: flex;
    flex-direction: column;
}

.header-left-wrapper {
    padding-left: 3em;
    width: calc(100% - 100px);
}

.title-wrapper {
    width: 100%;
    padding-top: 3.5em;
}

.recipe-number {
    font-size: 2.7em;
    margin-right: .1em;
    font-family: "Bodoni 72";
    width: 28%;
    display: block;
    text-align: right;
    margin-right: 20px;
}

.title {
    font-size: 2.5em;
    margin: 0em;
    line-height: 1.5em;
    padding-right: 1em;
    width: 100%;
    display: flex;
}

.recipe-title {
    width: 64%;
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
    padding-left: 20px;
}

.description {
    width: 100%;
    margin-top: 2em;
    display: None;
}

.main-image-wrapper {
    padding-right: 10%;
    padding-top: 2%;
    width: 80%;
    height: 20em;
    text-align: center;
    padding-left: 10%;
}

img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px;
}


.time-section-wrapper {
    display: flex;
    font-size: 1em;
    justify-content: center;
    height: 1em;
    margin: 20px 0;
    padding-left: 30%;
}

.time-wrapper {
    display: inline-flex;
    align-items: center;   
    vertical-align: top;
    margin-top: 0em;
}

.time-wrapper-title {
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
    font-size: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.time {
    margin-left: 4px;
    margin-right: 8px;
    margin-top: 0em;
    font-size: 1em;
}

.content-wrapper {
    display: flex;
}

.content-wrapper h2 {
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    width: 150px;
    align-self: center;
}

.ingredient-column-wrapper {
    padding-left: 20px;
    margin-right: 3em;
    text-align: left;
    width: 28%;
    margin-left: 13px;
    display: flex;
    flex-direction: column;
}

.step-column-wrapper {
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.steps-wrapper {
    padding-left: 5px;
    margin-right: 3em;
    text-align: left;
}

.ingredient-title {
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
    margin-top: .6em;
    margin-bottom: .4em;
}

.ingredient-item {
    text-indent : -1.3em ;
    margin-left :  1.3em ;
    margin-bottom: 10px;
}

.step-title {
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: .5em;
    margin-left: .5em;
}

.step-text-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.step-number {
    width: 25px;
    text-align: right;
    font-family: "Bodoni 72";
    font-weight: bold;
}

.step-text {
    width: 100%;
    padding-left: 10px;  
    font-weight: normal;
}

.ingredient-step-wrapper {
    vertical-align: top;
}

.notes-wrapper {
    margin-top: 1em;
    padding-right: 3em;
}

.notes-wrapper h2 {
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
}

.note-title-wrapper {
    font-family: "Bodoni 72 Oldstyle";
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: .5em;
}

.note-text-wrapper {
    font-weight: normal;
}

sup {
    font-size: .6em;
}

sub {
    font-size: .6em;
}